<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.assolutoRacing.Mapper.PasswordResetMapper">

<select id="selectByToken" resultType="String">
  select 
    mail
  from password_resets
  <where>
    token = #{token}
    and
    create_time = (
      select 
        max(create_time) 
      from password_resets
      where DATE_SUB(NOW(),INTERVAL 1 DAY) <![CDATA[<=]]> create_time
    )
  </where>
</select>

<insert id="deleteInsert">
   insert 
   into
   password_resets
   (mail,token,create_time)
   values
   (#{mail},#{token},now());
</insert>
  
</mapper>