<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.assolutoRacing.Mapper.SettingInfoMapper">
  <resultMap id="selectSettingInfo" type="com.example.assolutoRacing.Dto.SettingInfoDto">
     <result column="id" property="id"></result>
     <result column="title" property="title"></result>
     <result column="car_name" property="carName"></result>
     <result column="maker_name" property="markerName"></result>
     <result column="car_id" property="carId"></result>
     <result column="maker_id" property="makerId"></result>
     <result column="course_id" property="courseId"></result>
     <result column="course_name" property="course"></result>
     <result column="abs" property="abs"></result>
     <result column="power_steering" property="powerSteering"></result>
     <result column="diffgear" property="diffgear"></result>
     <result column="frontTire_pressure" property="frontTirePressure"></result>
     <result column="rearTire_pressure" property="rearTirePressure"></result>
     <result column="tire_name" property="tireType"></result>
     <result column="air_pressure" property="airPressure"></result>
     <result column="gear_final" property="gearFinal"></result>
     <result column="gear_one" property="gearOne"></result>
     <result column="gear_two" property="gearTwo"></result>
     <result column="gear_three" property="gearThree"></result>
     <result column="gear_four" property="gearFour"></result>
     <result column="gear_five" property="gearFive"></result>
     <result column="stabiliser_ago" property="stabiliserAgo"></result>
     <result column="stabiliser_after" property="stabiliserAfter"></result>
     <result column="max_rudder_angle" property="maxRudderAngle"></result>
     <result column="ackermann_angle" property="ackermannAngle"></result>
     <result column="camber_ago" property="camberAgo"></result>
     <result column="camber_after" property="camberAfter"></result>
     <result column="break_power" property="breakPower"></result>
     <result column="break_ballance" property="breakBallance"></result>
     <result column="car_high" property="carHigh"></result>
     <result column="off_set" property="offset"></result>
     <result column="hoilesize" property="hoilesize"></result>
     <result column="memo" property="memo"></result>
  </resultMap>
  
  <select id="selectAll" resultMap="selectSettingInfo">
		select 
		    si.id,
		    si.title,
		    si.maker_id,
		    si.course_id,
		    si.car_id,
		    si.abs,
		    si.power_steering,
		    si.diffgear,
		    si.frontTire_pressure,
		    si.rearTire_pressure,
		    si.tire_id,
		    si.air_pressure,
		    si.gear_final,
		    si.gear_one,
		    si.gear_two,
		    si.gear_three,
		    si.gear_four,
		    si.gear_five,
		    si.stabiliser_ago,
		    si.stabiliser_after,
		    si.max_rudder_angle,
		    si.ackermann_angle,
		    si.camber_ago,
		    si.camber_after,
		    si.break_power,
		    si.break_ballance,
		    si.car_high,
		    si.off_set,
		    si.hoilesize,
		    si.memo,
		    car.car_name,
		    course.course_name,
		    maker.maker_name,
		    tire_type.tire_name
		from setting_info as si
		inner join car 
		on si.car_id = car.car_id
		inner join course
		on si.course_id = course.course_id
		inner join maker
		on si.maker_id = maker.maker_id
		inner join tire_type
		on si.tire_id = tire_type.tire_id
		where delete_flag = false;
  </select>
  
  <select id="getSelectCount" resultType="Integer">
    select COUNT(*)
    from setting_info as si
	inner join car 
	on si.car_id = car.car_id
	inner join course
	on si.course_id = course.course_id
	inner join maker
	on si.maker_id = maker.maker_id
	inner join tire_type
	on si.tire_id = tire_type.tire_id
	where delete_flag = false;
  </select>
  
  <update id="deleteOne">
    update 
     setting_info
    <set>
      delete_flag = true
    </set>
    <where>
      id=#{id}
    </where>
  </update>
  
  <insert id="insert">
	insert into setting_info
	   (title,
		maker_id,
		course_id,
		car_id,
		abs,
		power_steering,
		diffgear,
		frontTire_pressure,
		rearTire_pressure,
		tire_id,
		air_pressure,
		gear_final,
		gear_one,
		gear_two,
		gear_three,
		gear_four,
		gear_five,
		stabiliser_ago,
		stabiliser_after,
		max_rudder_angle,
		ackermann_angle,
		camber_ago,
		camber_after,
		break_power,
		break_ballance,
		car_high,
		off_set,
		hoilesize,
		memo,
		delete_flag)
	values(
	    #{title},
		#{makerId},
		#{courseId},
		#{carId},
		#{abs},
		#{powerSteering},
		#{diffgear},
		#{frontTirePressure},
		#{rearTirePressure},
		#{tireId},
		#{airPressure},
		#{gearFinal},
		#{gearOne},
		#{gearTwo},
		#{gearThree},
		#{gearFour},
		#{gearFive},
		#{stabiliserAgo},
		#{stabiliserAfter},
		#{maxRudderAngle},
		#{ackermannAngle},
		#{camberAgo},
		#{camberAfter},
		#{breakPower},
		#{breakBallance},
		#{carHigh},
		#{offset},
		#{hoilesize},
		#{memo},
		false
	)
  </insert>
  
	<update id="update">
	    UPDATE
	        setting_info
	    <set>
	       title = #{title},
	       car_id = #{carId},
	       maker_id = #{makerId},
	       course_id = #{courseId},
	       tire_id = #{tireId},
	       abs = #{abs},
	       <if test="powerSteering != null">
	       power_steering = #{powerSteering},
	       </if>
	       <if test="diffgear != null">
	       diffgear = #{diffgear},
	       </if>
	       <if test="frontTirePressure != null">
	       frontTire_pressure = #{frontTirePressure},
	       </if>
	       <if test="rearTirePressure != null">
	       rearTire_pressure = #{rearTirePressure},
	       </if>
	       <if test="airPressure != null">
	       air_pressure = #{airPressure},
	       </if>
	       <if test="gearFinal != null">
	       gear_final = #{gearFinal},
	       </if>
	       <if test="gearOne != null">
	       gear_one = #{gearOne},
	       </if>
	       <if test="gearTwo != null">
	       gear_two = #{gearTwo},
	       </if>
	       <if test="gearThree != null">
	       gear_three = #{gearThree},
	       </if>
	       <if test="gearFour != null">
	       gear_four = #{gearFour},
	       </if>
	       <if test="gearFive != null">
	       gear_five = #{gearFive},
	       </if>
	       <if test="stabiliserAgo != null">
	       stabiliser_ago = #{stabiliserAgo},
	       </if>
	       <if test="stabiliserAfter != null">
	       stabiliser_after = #{stabiliserAfter},
	       </if>
	       <if test="maxRudderAngle != null">
	       max_rudder_angle = #{maxRudderAngle},
	       </if>
	       <if test="ackermannAngle != null">	
	       ackermann_angle = #{ackermannAngle},
	       </if>
	       <if test="camberAgo != null">
	       camber_ago = #{camberAgo},
	       </if>
	       <if test="camberAfter != null">
	       camber_after = #{camberAfter},
	       </if>
	       <if test="breakPower != null">
	       break_power = #{breakPower},
	       </if>
	       <if test="breakBallance != null">
	       break_ballance = #{breakBallance},
	       </if>
	       <if test="carHigh != null">
	       car_high = #{carHigh},
	       </if>
	       <if test="offset != null">
	       off_set = #{offset},
	       </if>
	       <if test="hoilesize != null">
	       hoilesize = #{hoilesize},
	       </if>
	       <if test="memo != null">
	       memo = #{memo}
	       </if>
	     </set>
	    <where>
	        id = #{id}
	    </where>
	</update>
</mapper>