<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.assolutoRacing.Mapper.UserMapper">

  <resultMap id="User" type="com.example.assolutoRacing.Bean.AuthUserRes">
    <result column="user_id" property="userId"></result>
    <result column="user_name" property="userName"></result>
    <result column="password" property="password"></result>
  </resultMap>
  
  <insert id="insert">
    insert into user
    (
     user_name,
     password,
     create_time,
     update_time,
     delete_flag
    )
    values(
     #{userName},
     #{password},
     NOW(),
     NOW(),
     false
    )
  </insert>
  
  <select id="selectUserCountByUserName" resultType="Integer">
   select 
    COUNT(*) 
   from user
   where 
   user_name = #{userName}
  </select>
  
  <select id="auth" resultMap="User">
    select
	 user_id,
	 user_name,
	 password
    from user
    <where>
	    password = #{password}
	    <if test="userName != null">
	      and
	      user_name = #{userName}
	    </if>
	    <if test="mail != null">
	      and
	      mail = #{mail}	    
	    </if>
    </where>
  </select>
  
 <select id="select" resultType="Integer">
     select
       COUNT(*)
     from user
     <where>
       <if test="userName != null">
          user_name = #{userName}
       </if>
       
      <if test="userName == null and mail != null">
          mail = #{mail}
      </if>
      
      <if test="userName != null and mail != null">
          and
          mail = #{mail}
      </if>
      
      <if test="(userName == null and mail == null) and password != null">
          password = #{password}
      </if>
      
      <if test="(userName != null or mail != null) and password != null">
          and
          password = #{password}
      </if>
     </where>
  </select>
  
  <update id="updatePassword">
     update
     user
     <set>
       password = #{password}
     </set>
     
     <where>
       mail = #{mail}
     </where>
  </update>
</mapper>